<div class="table-operations">
    <button *ngIf="canCreateConstant"  (click)="showModal()" nz-button nzType="primary"><i nz-icon nzType="plus"></i>Créer une constante</button>
    <button *ngIf="canViewList"  nz-button (click)="exportToFile()"><i nz-icon nzType="export"></i>Exporter en Excel</button>
</div>
 <div  class="selected-items" *ngIf="canViewList">
    {{ setOfCheckedId.size }} éléments sélectionnés
    <a (click)="refreshCheckedStatus()">Rafraîchir</a>
</div>
<nz-table 
    #basicTable 
    [nzScroll]="{x: '500px'}"
    nzShowSizeChanger
    [nzData]="constants"
    *ngIf="canViewList">
    <thead>
        <tr>
            <th [nzWidth]="'40px'" [nzChecked]="checked" 
            [nzIndeterminate]="indeterminate" 
            (nzCheckedChange)="onAllChecked($event)"></th>
            <th [nzWidth]="'60px'">#ID</th>
            <th [nzWidth]="window.innerWidth>768?'40%':'35%'">Nom</th>
            <th [nzWidth]="window.innerWidth>768?'10%':'15%'">Unité</th>
            <th [nzWidth]="'25%'">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
            <td>{{ data.id }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.unit }}</td>
            <td>
                <a *ngIf="canEditConstant" (click)="editHospital(data)">Editer</a>
                <nz-divider  nzType="vertical"></nz-divider>
            </td>
        </tr>
    </tbody>
</nz-table>



 <nz-modal 
    [nzWidth]="window.innerWidth>1024? '40%': window.innerWidth>768 && window.innerWidth<1024? '80%':'90%'"
    nzFooter=" " [(nzVisible)]="isVisible"
    nzTitle="Ajout d'une constante" 
    (nzOnCancel)="handleCancel()">
    <ng-container *nzModalContent>
        <form [formGroup]="constantForm" (ngSubmit)="onSubmit()">
            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired >Nom</nz-form-label>
                <nz-form-control [nzSm]="12" [nzXs]="24" nzHasFeedback nzErrorTip="Ce champ est obligatoire">
                    <input nz-input formControlName="name" placeholder="Entrez le nom de la constante">
                </nz-form-control>
            </nz-form-item>
    
            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired >Unité</nz-form-label>
                <nz-form-control [nzSm]="12" [nzXs]="24" nzHasFeedback nzErrorTip="Ce champ est obligatoire">
                    <input nz-input formControlName="unit" placeholder="Entrez l'unité de mesure de la constante">
                </nz-form-control>
            </nz-form-item>
    
            <nz-form-item>
                <nz-form-control [nzSm]="{offset: 7, span: 14}" [nzXs]="{offset: 0, span: 24}" class="form-buttons">
                    <button nz-button nzType="primary" [disabled]="constantForm.invalid" class="submit-button">Soumettre</button>
                    <button nz-button (click)="resetForm($event)" class="reset-button">Réinitialiser</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
</nz-modal> 