<div class="table-operations">
    <button *ngIf="canCreateRoom" (click)="showModal()" nz-button nzType="primary"><i nz-icon nzType="plus"></i>Créer une salle</button>
    <button *ngIf="canViewList" nz-button (click)="exportToFile()"><i nz-icon nzType="export"></i>Exporter en Excel</button>
</div>
<div *ngIf="canViewList" class="selected-items">
    {{ setOfCheckedId.size }} éléments sélectionnés
    <a (click)="refreshCheckedStatus()">Rafraîchir</a>
</div>
<nz-table *ngIf="canViewList"
    #basicTable 
    nzShowSizeChanger
    [nzData]="listOfData"
    [nzScroll]="{x: '500px'}"
    (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
>
    <thead>
        <tr>
            <th nzWidth="30px"
                [nzChecked]="checked" 
                [nzIndeterminate]="indeterminate" 
                (nzCheckedChange)="onAllChecked($event)"
            ></th>
            <th nzWidth="60px">#ID</th>
            <th nzWidth="40%">Nom</th>
            <th nzWidth="25%" *ngIf="canEditRoom || canDeleteRoom">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
            <td>{{ data.id }}</td>
            <td>{{ data.room }}</td>
            <td>
                <a *ngIf="canEditRoom" (click)="editRoom(data)">Editer</a>
                <nz-divider *ngIf="canEditRoom" nzType="vertical"></nz-divider>
                <a *ngIf="canDeleteRoom" (click)="deleteRoom(data.id)">Supprimer</a>
            </td>
        </tr>
    </tbody>
</nz-table>


<nz-modal 
    [nzWidth]="window.innerWidth>1024? '40%': window.innerWidth>768 && window.innerWidth<1024? '80%':'90%'"
    nzFooter=" " 
    [(nzVisible)]="isVisible" 
    nzTitle="Ajout de salle" 
    (nzOnCancel)="handleCancel()">
    <ng-container *nzModalContent>
        <form [formGroup]="roomRorm" (ngSubmit)="onSubmit()">
            <nz-form-item>
                <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>Nom</nz-form-label>
                <nz-form-control [nzSm]="12" [nzXs]="24" nzHasFeedback nzErrorTip="Ce champ est obligatoire">
                    <input nz-input formControlName="room" placeholder="Nom de la salle">
                </nz-form-control>
            </nz-form-item>
    
            <nz-form-item>
                <nz-form-control [nzSm]="{offset: 7, span: 14}" [nzXs]="{offset: 0, span: 24}" class="form-buttons">
                    <button nz-button nzType="primary" [disabled]="roomRorm.invalid" class="submit-button">Soumettre</button>
                    <button nz-button (click)="resetForm($event)" class="reset-button">Réinitialiser</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
</nz-modal>