<!-- <div class="search-box">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input type="text" nz-input placeholder="Search..." />
    </nz-input-group>
    <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch><span nz-icon nzType="search"></span></button>
    </ng-template>
</div> -->
<div class="table-operations">
    <button *ngIf="canCreateRoom" (click)="showModal()" nz-button nzType="primary"><i nz-icon nzType="plus"></i>Créer une salle</button>
    <button *ngIf="canViewList" nz-button (click)="exportToFile()"><i nz-icon nzType="export"></i>Exporter en Excel</button>
</div>
<div *ngIf="canViewList" class="selected-items">
    {{ setOfCheckedId.size }} éléments sélectionnés
    <a (click)="refreshCheckedStatus()">Rafraîchir</a>
</div>
<nz-table *ngIf="canViewList"
    #basicTable 
    nzShowSizeChanger
    [nzData]="listOfData"
    (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
>
    <thead>
        <tr>
            <th 
                [nzChecked]="checked" 
                [nzIndeterminate]="indeterminate" 
                (nzCheckedChange)="onAllChecked($event)"
            ></th>
            <th>#ID</th>
            <th>Nom</th>
            <th *ngIf="canEditRoom || canDeleteRoom">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
            <td>{{ data.id }}</td>
            <td>{{ data.room }}</td>
            <td>
                <a *ngIf="canEditRoom" (click)="editRoom(data)">Editer</a>
                <nz-divider *ngIf="canEditRoom" nzType="vertical"></nz-divider>
                <a *ngIf="canDeleteRoom" (click)="deleteRoom(data.id)">Supprimer</a>
            </td>
        </tr>
    </tbody>
</nz-table>


<nz-modal nzFooter=" " [(nzVisible)]="isVisible" nzTitle="Ajout de salle" (nzOnCancel)="handleCancel()">
    <ng-container *nzModalContent>
        <form [formGroup]="roomRorm" (ngSubmit)="onSubmit()">
            <nz-form-item>
                <nz-form-label nzSpan="7" nzRequired>Nom</nz-form-label>
                <nz-form-control nzSpan="12" nzHasFeedback nzErrorTip="Ce champ est obligatoire">
                    <input nz-input formControlName="room" placeholder="Nom de la salle">
                </nz-form-control>
            </nz-form-item>
    
            <nz-form-item>
                <nz-form-control nzOffset="7" nzSpan="12">
                    <button nz-button nzType="primary" [disabled]="roomRorm.invalid">Soumettre</button>
                    <button nz-button (click)="resetForm($event)">Réinitialiser</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
</nz-modal>