<div class="container">
    <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="8">
            <nz-card>
                <p class="element" >Bâtiments</p>
                <span class="value" *ngIf="buildings">{{buildings.length}}</span>
                <nz-divider></nz-divider>
                <button routerLink="/Administration/buildings" nz-button nzType="primary" class="button"> Consulter</button>
            </nz-card>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-card>
                <p class="element" >Salle</p>
                <span class="value" *ngIf="rooms">{{rooms.length}}</span>
                <nz-divider></nz-divider>
                <button routerLink="/Administration/buildings" nz-button nzType="primary" class="button"> Consulter</button>
            </nz-card>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-card>
                <p class="element" >Médecin</p>
                <span class="value" *ngIf="doctors">{{doctors.length}}</span>
                <nz-divider></nz-divider>
                <button routerLink="/Administration/users" nz-button nzType="primary" class="button"> Consulter</button>
            </nz-card>
        </div>
    </div>
</div>