<nav nz-menu  nzMode="horizontal" class="menu-right">
  

    <li nz-menu-item class="menu-item-spacing">
      <button nz-button nzType="link" routerLink="/">ACCUEIL</button>
    </li>
  

    <li nz-menu-item class="menu-item-spacing">
      <button nz-button nzType="link" routerLink="/prendre-rdv">Prendre RDV</button>
    </li>

    <li nz-menu-item class="menu-item-spacing">
        <button nz-button nzType="link"  [routerLink]="['/patient-medical-record']">Dossier Médical</button>
    </li>
  
   
    <li nz-menu-item class="menu-item-spacing">
      <button nz-button nzType="link" routerLink="/patient-dashboard">Mes rendez-vous</button>
    </li>
  
    <li nz-menu-item class="menu-item-spacing">
      <button nz-button nzType="link" (click)="deconnexion()">Deconnexion</button>
    </li>
    
</nav>
<br><br><br>
<div nz-row class="p-5 bg-light">
    <div nz-col nzSpan="12" nzOffset="2">
      <h3>Liste de vos RDV</h3>
    </div>
  </div>
  
  <br />
  <div nz-row>
    <div nz-col nzSpan="20" nzOffset="2">
      <nz-table #basicTable [nzData]="appointments" [nzBordered]="true" nzSize="middle" nzShowPagination="false" class="table-striped">
        <thead>
          <tr>
            <th>#</th>
            <!-- <th>Nom</th> -->
            <!-- <th>Prénom</th> -->
            <!-- <th>Email</th> -->
            <th>Date</th>
            <th>Hôpital</th>
            <th>Statut</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appointment of appointments; let i = index">
            <td>{{ i + 1 }}</td>
            <!-- <td>{{ appointment.patientLastName }}</td> -->
            <!-- <td>{{ appointment.patientFirstName }}</td> -->
            <!-- <td>{{ appointment.patientEmail }}</td> -->
            <td>{{ appointment.date | date: 'd MMMM y' }}</td>
            <td>{{ appointment.hospitalDTO.name }}</td>
            <td>{{ appointment.status }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>

  
  
  <nz-modal nzFooter=" " [(nzVisible)]="isVisible" nzTitle="Recherche de rendez-vous" (nzOnCancel)="handleCancel()">
    <ng-container *nzModalContent>
        <form [formGroup]="usernameForm" (ngSubmit)="onSubmitSerch()">
            <nz-form-item>
                <nz-form-label nzSpan="7" nzRequired>Code du demandeur</nz-form-label>
                <nz-form-control nzSpan="12" nzHasFeedback nzErrorTip="Ce champ est obligatoire">
                    <input nz-input formControlName="username" placeholder="Entrez le code qui vous ait envoyé ">
                </nz-form-control>
            </nz-form-item>
    
            <nz-form-item>
                <nz-form-control nzOffset="7" nzSpan="12">
                    <button class="submitButton" nz-button nzType="primary" [disabled]="usernameForm.invalid">Soumettre</button>
                    <button nz-button (click)="resetForm($event)">Réinitialiser</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
</nz-modal>
  
