<!-- <ul nz-menu nzMode="horizontal" class="d-flex justify-content-between w-75 offset-md-3">
    <li nz-menu-item>
      <a nz-link routerLink="/secretariat" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">ACCUEIL</a>
    </li>
    
    <li nz-menu-item>
      <a nz-link routerLink="/" routerLinkActive="active">Docteur</a>
    </li>
    
    <li nz-menu-item>
      <a nz-link routerLink="/" routerLinkActive="active">Mes rendez-vous</a>
    </li>
    
    <li nz-menu-item>
      <button nz-button nzType="link" routerLink="/" class="text-white">Specialités</button>
    </li>
  </ul> -->
  
<div nz-row>
    <div nz-col nzSpan="20" nzOffset="2" class="mt-md-5">
      <br /><br />
      
      <nz-table #basicTable [nzData]="doctors" [nzBordered]="true" nzSize="middle" nzShowPagination="true" class="table-bordered">
        <thead>
          <tr>
            <th class="text-center">Id</th>
            <th class="text-center">Nom</th>
            <th class="text-center">Prénom</th>
            <th class="text-center">Email</th>
            <th class="text-center">Téléphone</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doctor of doctors; let i = index">
            <td class="text-center">{{ i + 1 }}</td>
            <td class="text-center">{{ doctor.firstName }}</td>
            <td class="text-center">{{ doctor.lastName }}</td>
            <td class="text-center">{{ doctor.email }}</td>
            <td class="text-center">{{ doctor.phone }}</td>
            <td class="text-center">
              <button nz-button nzType="primary" nzSize="small" (click)="appointmentsDoctor(doctor)">RDV</button>
            </td>
          </tr>
        </tbody>
      </nz-table>
      
      <br/>
    </div>
  </div>
  