<div class="background">
    <nz-carousel nzAutoPlay class="image-carousel">
        <div nz-carousel-content *ngFor="let image of images">
            <img [src]="image" alt="Image" class="carousel-image" />
            <div class="overlay"></div>
        </div>
    </nz-carousel>

    <form nz-form [formGroup]="changePasswordForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-card nzTitle="Changement de mot de passe obligatoire" class="login-card">
            <nz-alert 
                *ngIf="mustChangePassword" 
                nzType="warning" 
                nzMessage="Vous devez changer votre mot de passe pour continuer."
            ></nz-alert>

            <br><nz-form-item>
                <nz-form-control nzErrorTip="Please input your username!">
                    <nz-input-group nzPrefixIcon="user">
                        <input type="text" nz-input formControlName="username" placeholder="Entrez votre nom d'utilisateur" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        
            <nz-form-item>
                <nz-form-control nzErrorTip="Le mot de passe doit contenir au moins 8 caractères">
                    <nz-input-group nzPrefixIcon="lock">
                        <input type="password" nz-input formControlName="currentPassword" placeholder="Entrez votre ancien mot de passe" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        
            <nz-form-item>
                <nz-form-control nzErrorTip="Le mot de passe doit contenir au moins 8 caractères">
                    <nz-input-group nzPrefixIcon="lock">
                        <input type="password" nz-input formControlName="newPassword" placeholder="Entrez votre nouveau mot de passe" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        
            <nz-form-item>
                <nz-form-control nzErrorTip="Les mots de passe ne correspondent pas">
                    <nz-input-group nzPrefixIcon="lock">
                        <input type="password" nz-input formControlName="confirmPassword" placeholder="Confirmez votre nouveau mot de passe" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        
            <button 
                nz-button 
                [nzLoading]="isLoading"
                [disabled]="changePasswordForm.invalid"
                class="login-form-button" 
                [nzType]="'primary'"
            >
                Changer le mot de passe
            </button>
        </nz-card>
    </form>
</div>