.navclas{
    background: #066631ee;
}

.menu-item-spacing button {
    margin-right: 40px; 
    color: white;
  }

  .menu-right {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background: #1890ff;
  }


  /* Container principal */
.container.medical-record {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
  }
  
  /* Titre principal */
  .title {
    text-align: center;
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 30px;
  }
  
  /* Grille pour les informations clé/valeur */
  .grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .key {
    font-weight: bold;
    text-align: left;
    color: #34495e;
  }
  
  .value {
    text-align: left;
    color: #2c3e50;
  }
  
  /* Style des sections médicales */
  h4 {
    margin-top: 25px;
    font-size: 1.8rem;
    color: #3498db;
  }
  
  .info-record {
    border-top: 2px solid #ecf0f1;
    padding-top: 15px;
    margin-top: 20px;
  }
  
  /* Style des analyses et constantes */
  .grid .key, .grid .value {
    padding: 8px 0;
  }
  
  .grid .value {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
  }
  
  .value {
    background-color: #f8f9fa;
  }
  
  .key {
    background-color: #ecf0f1;
    border-radius: 5px;
    padding: 10px;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .grid {
      grid-template-columns: 1fr;
    }
    
    .key, .value {
      text-align: left;
    }
  }

  .date {
    padding-bottom: 15px;
    text-align: center;
    font-size: 20px;
  }

  .constDate {
    display: block;
    margin: auto;
    padding-bottom: 15px;
  }

  .unit {
    padding: 10px;
  }
  