form {
    max-width: 700px;
    margin: 0 auto;
  }
  
  div {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, button {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    background-color: #1350ecee;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #113aa2ee;
  }

  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .select-column {
    width: 45%;
  }
  
  .input-column {
    width: 45%;
  }
  
  