.navclas{
    background: #066631ee;
}


.menu-item-spacing button {
    margin-right: 40px; 
    color: white;
  }
  .menu-right {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background: #1890ff;
  }
  .right{
    margin-left: 53rem;
  }

  .star {
    color: red;
  }

.body {
  background-color: rgba(195, 225, 24, 0.128);
  min-height: 100vh;
  padding: 10px;
}


  @media (max-width: 768px) {
    .menu-right {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .menu-item-spacing {
      margin: 5px;
    }
  
    .menu-right li {
      flex: 0 0 auto;
    }

    .ant-form-item {
      display: inline;
      margin-bottom: 100px;
    }
  
    nz-form-label {
      margin-bottom: -10px;
    }

    nz-form-control {
      margin-bottom: 10px;
    }

    .text-center {
      margin-top: 15px;
    }
    
  }