<nav nz-menu  nzMode="horizontal" class="menu-right">

  <li nz-menu-item class="menu-item-spacing">
    <button nz-button nzType="link" routerLink="/">ACCUEIL</button>
  </li>

  <li nz-menu-item class="menu-item-spacing">
    <button nz-button nzType="link" routerLink="/prendre-rdv">Prendre RDV</button>
  </li>

  <li nz-menu-item class="menu-item-spacing">
      <button nz-button nzType="link"  [routerLink]="['/patient-medical-record']">Dossier Médical</button>
  </li>
 
  <li nz-menu-item class="menu-item-spacing">
    <button nz-button nzType="link" routerLink="/patient-dashboard">Mes rendez-vous</button>
  </li>

  <li nz-menu-item class="menu-item-spacing">
    <button nz-button nzType="link" routerLink="/patient-connexion">connexion</button>
  </li>
  
</nav>
<br><br><br>
  <div nz-row class="mt-2">
    <div nz-col nzSpan="18" nzOffset="3">
      <!-- <a nz-button nzType="primary" routerLink="/je_connais_mon_medecin" class="float-left">Je connais mon médecin</a> -->
      <nz-card class="mt-md-2">
        <nz-card-meta>
          <h4 nz-title>Prenez votre rendez-vous en toute sécurité</h4>
        </nz-card-meta>
        <nz-divider></nz-divider>
        <form [formGroup]="Hospitalform" (ngSubmit)="onSubmit()">
          <div nz-row>
            <div nz-col nzSpan="12">
                <div nz-form-item class="mt-4">
                    <nz-form-label nzFor="doctor" nzSpan="7">Médecin</nz-form-label>
                    <nz-form-control nzSpan="22">
                      <nz-select formControlName="doctor" nzPlaceHolder="Sélectionner votre médecin">
                        <nz-option *ngFor="let medecin of dataDoctors" [nzValue]="medecin" [nzLabel]="medecin.lastName + ' ' + medecin.firstName"></nz-option>
                      </nz-select>
                    </nz-form-control>
                </div>
                <div nz-form-item class="mt-4">
                    <nz-form-label nzFor="hospital" nzSpan="6">Hôpital</nz-form-label>
                    <nz-form-control nzSpan="22">
                      <nz-select formControlName="hospital" nzPlaceHolder="Sélectionner l'hôpital">
                        <nz-option *ngFor="let hospital of hospitals" [nzValue]="hospital.id" [nzLabel]="hospital.name"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </div>
                  <div nz-form-item class="mt-4">
                    <nz-form-label nzFor="availability" nzSpan="6">Disponibilité</nz-form-label>
                    <nz-form-control nzSpan="22">
                      <nz-select formControlName="availability" nzPlaceHolder="Sélectionner une disponibilité">
                        <nz-option *ngFor="let availability of availabilities" [nzValue]="availability" [nzLabel]="availability['day']['name'] + ' De ' + availability.startTime + ' A ' + availability.endTime"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </div>
                  <div nz-form-item class="mt-4">
                    <nz-form-label nzFor="date" nzSpan="6">Date RDV</nz-form-label>
                    <nz-form-control nzSpan="22">
                      <nz-select formControlName="date" nzPlaceHolder="Sélectionner une date">
                        <nz-option *ngFor="let day of days" [nzValue]="day" [nzLabel]="day | date: 'd MMMM y'"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </div>
                  <div nz-form-item class="mt-4">
                    <nz-form-label nzFor="price" nzSpan="6">Prix</nz-form-label>
                    <nz-form-control nzSpan="22">
                      <input nz-input formControlName="price" [value]="priceBySpeciality" readonly />
                    </nz-form-control>
                  </div>
              <input type="hidden" [value]="specialityId" formControlName="speciality">
            </div>
  
            <div nz-col nzSpan="12">
                <div nz-form-item class="mt-4">
                    <nz-form-label nzFor="patientLastName" nzSpan="6">Votre nom</nz-form-label>
                    <nz-form-control nzSpan="22">
                      <input nz-input formControlName="patientLastName" />
                    </nz-form-control>
                  </div>
                  <div nz-form-item class="mt-4">
                    <nz-form-label nzFor="patientFirstName" nzSpan="6">Prénom</nz-form-label>
                    <nz-form-control nzSpan="22">
                      <input nz-input formControlName="patientFirstName" />
                    </nz-form-control>
                  </div>
                  <div nz-form-item class="mt-4">
                    <nz-form-label nzFor="patientEmail" nzSpan="6">Email</nz-form-label>
                    <nz-form-control nzSpan="22">
                      <input nz-input formControlName="patientEmail" />
                    </nz-form-control>
                  </div>
                  <div nz-form-item class="mt-4">
                    <nz-form-label nzFor="patientPhone" nzSpan="6">Téléphone</nz-form-label>
                    <nz-form-control nzSpan="22">
                      <input nz-input formControlName="patientPhone" />
                    </nz-form-control>
                  </div>
            </div>
          </div>
          <br>
          <button nz-button nzType="primary" class="right" type="submit" [disabled]="Hospitalform.invalid">Prendre RDV</button>
        </form>
      </nz-card>
    </div>
  </div>
  