.navclas{
    background: #066631ee;
}


.menu-item-spacing button {
    margin-right: 40px; 
    color: white;
  }

  .menu-right {
    display: flex;
    justify-content: flex-end;
    padding: 1.1rem;
    background: #1890ff;
  }
  .right{
    margin-left: 53rem;
  }