<nz-card>
    <form class="adminForm" [formGroup]="userForm" (ngSubmit)="onSubmit()">        
        <nz-form-item>
            <nz-form-label nzSpan="7" nzRequired>Nom</nz-form-label>
            <nz-form-control nzSpan="12" nzHasFeedback nzErrorTip="Ce champ est obligatoire">
                <input nz-input formControlName="lastName" placeholder="Entrez le nom">
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzSpan="7" nzRequired>Prénom</nz-form-label>
            <nz-form-control nzSpan="12" nzHasFeedback nzErrorTip="Ce champ est obligatoire">
                <input nz-input formControlName="firstName" placeholder="Entrez le prénom">
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzSpan="7" nzRequired>Sexe</nz-form-label>
            <nz-form-control nzSpan="12" nzHasFeedback nzErrorTip="Ce champ est obligatoire">
                <nz-select formControlName="sex" nzPlaceHolder="Choisir le genre">
                    @for (sex of sexValues; track sex) {
                        <nz-option [nzLabel]="sex == 'FEMALE' ? 'FEMME' : 'HOMME'" [nzValue]="sex"></nz-option>
                    }
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzSpan="7" nzRequired>Adresse mail</nz-form-label>
            <nz-form-control nzSpan="12" nzHasFeedback nzErrorTip="Ce champ est obligatoire">
                <input nz-input formControlName="email" placeholder="Entrez votre adresse mail">
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzSpan="7" nzRequired>Téléphone</nz-form-label>
            <nz-form-control nzSpan="12" nzHasFeedback nzErrorTip="Ce champ est obligatoire">
                <input nz-input formControlName="phone" placeholder="Entrez votre numéro de téléphone">
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzSpan="7" nzRequired>Spécialité</nz-form-label>
            <nz-form-control nzSpan="12" nzHasFeedback nzErrorTip="Ce champ est obligatoire">
                <nz-select formControlName="speciality" [compareWith]="compareFn" nzPlaceHolder="Selectionnez la spécialité">
                    @for (sp of specialities; track sp) {
                        <nz-option [nzLabel]="sp.name" [nzValue]="sp"></nz-option>
                    }
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        
        @if (user && user.userType == "Staff") {
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Hôpital</nz-form-label>
                <nz-form-control [nzSpan]="12" [nzHasFeedback] nzErrorTip="Choisir un hôpital">
                    <nz-select formControlName="hospital" nzPlaceHolder="Choisir un hôpital">
                        <!-- <nz-option [nzValue]="user.hospital.id">{{user.hospital.name}}</nz-option> -->
                        @for (hosp of hospitals; track hosp.id) {
                            <nz-option [nzLabel]="hosp.name" [nzValue]="hosp.id"></nz-option>
                        }
                    </nz-select>
                </nz-form-control>
            </nz-form-item>

            <!-- <nz-form-item>
                <nz-form-label nzSpan="7" nzRequired>Roles</nz-form-label>
                <nz-form-control nzSpan="12" nzHasFeedback nzErrorTip="Ce champ est obligatoire">
                    <nz-select nzMode="tags" formControlName="userRoles" nzPlaceHolder="Selectionnez le droits">
                        @for (role of roles; track role.id) {
                            <nz-option [nzLabel]="role.name" [nzValue]="role" ></nz-option>
                        }
                    </nz-select>
                </nz-form-control>
            </nz-form-item> -->
        }

        <nz-form-item>
            <nz-form-control nzOffset="9" nzSpan="12">
                <button nz-button nzType="primary" [disabled]="userForm.invalid">Soumettre</button>
                <button nz-button (click)="resetAdminForm($event)">Réinitialiser</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-card>