<div *ngIf="canViewRecord" class="container medical-record">
    <div *ngIf="medicalRec" class="record-details">
      <h2 class="title">Dossier Médical</h2>
      
      <div class="grid">
        <div class="key">Code du Dossier :</div>
        <div class="value">{{ medicalRec.code_dossier }}</div>
        
        <div class="key">Date de création :</div>
        <div class="value">{{ medicalRec.date_creation | date:'dd-MM-yyyy' }}</div>
        
        <div class="key">Patient :</div>
        <div class="value">{{ medicalRec.patient.firstName }} {{ medicalRec.patient.lastName }}</div>
      </div>
  
      <h4>Informations médicales</h4>
      <div *ngFor="let info of medicalRec.infoMedicalRecords" class="info-record">
        <!-- Date -->
        <div  *ngIf="info.diagnostiques.length != 0 || info.traitements.length != 0 || 
              info.analyses_resultats.length != 0 || info.constants.length != 0"
          class="date" >{{ info.date | date:'dd-MM-yyyy' }}
        </div>

        <!-- Affichage des diagnostiques -->
        <h4 *ngIf="info.diagnostiques.length != 0">Diagnostiques</h4>
        <div *ngFor="let diag of info.diagnostiques" class="grid">
            <div class="key">N° {{ info.diagnostiques.indexOf(diag) +1 }} :</div>
            <div class="value">{{ diag }}</div>
        </div>

        <!-- Affichage des traitements -->
        <h4 *ngIf="info.traitements.length != 0">Traitements</h4>
        <div *ngFor="let trait of info.traitements" class="grid">
            <div class="key">N° {{ info.traitements.indexOf(trait) +1 }} :</div>
            <div class="value">{{ trait }}</div>
        </div>

        <!-- Affichage des constantes -->
        <h4 *ngIf="info.constants.length != 0">Constantes</h4>
        <!-- <div *ngFor="let constant of info.constants">
          <div class="constDate">{{constant.date | date: "dd-MM-yyyy à HH:mm "}}</div>
          <div class="grid">
            <div class="key">{{ constant.typeConstant.name }} :</div>
            <div class="value">{{ constant.valeur}} <span class="unit">{{constant.typeConstant.unit}}</span></div>
          </div>
        </div> -->
        <app-medical-constants [constants]="info.constants"></app-medical-constants>

  
        <!-- Affichage des analyses -->
        <h4 *ngIf="info.analyses_resultats.length != 0">Analyses</h4>
        <div *ngIf="info.analyses_resultats.length != 0" class="grid">
          <div class="key">Analyse</div>
          <div class="value">Résultat</div>
        </div>
        <div *ngFor="let analyse of info.analyses_resultats" class="grid">
            <div class="key">{{ analyse.analysis.name }} :</div>
            <div class="value">{{ analyse.result }}</div>
        </div>
      </div>
    </div>
  </div>