<div *ngIf="canViewList" class="search-box">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input type="text" nz-input placeholder="Recherche..." [(ngModel)]="searchValue" (ngModelChange)="onSearch()"/>
    </nz-input-group>
    <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch><span nz-icon nzType="search"></span></button>
    </ng-template>
</div>
<div class="table-operations">
    <button *ngIf="canCreateUser" routerLink="/back-office/Administration/new-personal" nz-button nzType="primary"><i nz-icon nzType="plus"></i>Créer un utilisateur</button>
    <button *ngIf="canViewList" nz-button (click)="exportFile()"><i nz-icon nzType="export"></i>Exporter en Excel</button>
    <a *ngIf="canViewList"  class="advanced-filter">Options avancées de filtres  <span class="advanced-filter-icon2" nz-icon nzType="down"></span><span class="advanced-filter-icon" nz-icon nzType="setting"></span> </a>
</div>
<div *ngIf="canViewList" class="selected-items">
    {{ setOfCheckedId.size }} éléments selectionnés
    <a (click)="refreshCheckedStatus()">Rafraîchir</a>
</div>
<nz-table *ngIf="canViewList" 
    #rowSelectionTable
    nzShowSizeChanger 
    [nzData]="filteredData"
    (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
>
    <thead>
        <tr>
            <th 
                [nzSelections]="listOfSelection"
                [(nzChecked)]="checked" 
                [nzIndeterminate]="indeterminate" 
                (nzCheckedChange)="onAllChecked($event)"
            ></th>

            <th>User name</th>
            <th>Name</th>
            <th>Roles</th>
            <th>Email address</th>
            <!-- <th>Email confirmation</th> -->
            <th *ngIf="canEditeUser || canManageUser">Actions</th>
        </tr>
    </thead>
    <tbody>
        @for (data of rowSelectionTable.data; track data) {
            <tr>
                <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
                <td>{{ data.username }}</td>
                <td>{{ data.firstName }} {{ data.lastName }}</td>
                <td>
                    @for (role of data.roles; track role.id) {
                        {{ role.name }}
                    }
                </td>
                <td>{{ data.email }}</td>
                <td>
                    <a *ngIf="canEditeUser && data.userType != 'Patient'" (click)="editUser(data.id)">Editer</a>
                    <nz-divider *ngIf="canEditeUser" nzType="vertical"></nz-divider>
                    <a *ngIf="canManageUser && !data.active" (click)="manageUsers(data.id, 'ACTIVATE')">Activer</a>
                    <a *ngIf="canManageUser && data.active" (click)="manageUsers(data.id, 'SUSPEND')">Desactiver</a>
                </td>
            </tr>
        }
    </tbody>
</nz-table>