<div class="doctor-list-container">
  <div class="table-container">
    <nz-table 
      #basicTable 
      [nzData]="doctors" 
      [nzBordered]="true" 
      nzSize="middle"
      [nzScroll]="{ x: '800px' }"
      nzShowPagination="true"
      class="responsive-table">
      <thead>
        <tr>
          <th nzLeft class="text-center" nzWidth="60px">Id</th>
          <th class="text-center" nzWidth="120px">Nom</th>
          <th class="text-center" nzWidth="120px">Prénom</th>
          <th class="text-center" nzWidth="200px">Email</th>
          <th class="text-center" nzWidth="120px">Téléphone</th>
          <th nzRight class="text-center" nzWidth="100px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let doctor of doctors; let i = index">
          <td nzLeft class="text-center">{{ i + 1 }}</td>
          <td class="text-center">{{ doctor.firstName }}</td>
          <td class="text-center">{{ doctor.lastName }}</td>
          <td class="text-center">{{ doctor.email }}</td>
          <td class="text-center">{{ doctor.phone }}</td>
          <td nzRight class="text-center">
            <button 
              nz-button 
              nzType="primary" 
              nzSize="small" 
              (click)="appointmentsDoctor(doctor)"
              class="action-button">
              RDV
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>