.navclas{
    background: #066631ee;
}


.menu-item-spacing button {
    margin-right: 40px; 
    color: white;
  }

  .menu-right {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background: #1890ff;
  }

  .star {
    color: red;
  }
  
   .body {
    background-color: rgba(195, 225, 24, 0.128);
  } 

  @media (max-width: 768px) {
    .menu-right {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .menu-item-spacing {
      margin: 5px;
    }
  
    .menu-right li {
      flex: 0 0 auto;
    }
  }

  
