<nav class="nav-container">
  <div class="nav-left">
    <img 
      width="50px" 
      height="50px" 
      src="/assets/images/logo_SNIH.png" 
      alt="SNIH" 
      class="nav-logo"
      routerLink="/"
    />
    <button nz-button nzType="link" routerLink="/">
      <span nz-icon nzType="home"></span>
    </button>
  </div>
  
  <div class="nav-right">
    <button class="menu-toggle" nz-button nzType="link" (click)="isMenuVisible = !isMenuVisible">
      <span nz-icon nzType="menu"></span>
    </button>
    
    <ul class="nav-menu" [class.visible]="isMenuVisible">
      <li><button nz-button nzType="link" routerLink="/prendre-rdv">Prendre RDV</button></li>
      <li><button nz-button nzType="link" routerLink="/patient-dashboard">Mes rendez-vous</button></li>
      <li><button nz-button nzType="link" routerLink="/patient-connexion">Se connecter</button></li>
    </ul>
  </div>
</nav>

<div nz-row nzJustify="center" class="body">
  <div nz-col 
       nzXs="24" 
       nzSm="22" 
       nzMd="20" 
       nzLg="18" 
       nzXl="16" 
       class="full-width-mobile">
    <nz-card>
      <div nz-card-body>
        <h3 nz-typography>Prise de rendez-vous sans connaissance d'un médecin</h3>
        <h4>Les champs avec le symbole (<span class="star">*</span>) sont obligatoires</h4>

        <nz-divider></nz-divider>
        <form [formGroup]="Hospitalform" (ngSubmit)="onSubmit()">
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
            <div nz-col nzXs="24" nzSm="12" nzMd="12">
              <nz-form-item>
                <nz-form-label nzSpan="6" nzRequired>Hôpital</nz-form-label>
                <nz-form-control nzSpan="18" nzHasFeedback nzErrorTip="Ce champ est obligatoire">
                  <nz-select formControlName="hospital" nzPlaceHolder="Sélectionner l'hôpital">
                    <nz-option *ngFor="let hospital of dataHospitals" 
                               [nzValue]="hospital.id" 
                               [nzLabel]="hospital.name + ' || Localisation: ' + hospital.location">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzSpan="6" nzRequired>Spécialité</nz-form-label>
                <nz-form-control nzSpan="18" nzHasFeedback nzErrorTip="Ce champ est obligatoire">
                  <nz-select formControlName="speciality" nzPlaceHolder="Sélectionner la spécialité">
                    <nz-option *ngFor="let speciality of specialities" 
                               [nzValue]="speciality.id" 
                               [nzLabel]="speciality.name">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzSpan="6" nzRequired>Disponibilité</nz-form-label>
                <nz-form-control nzSpan="18" nzHasFeedback nzErrorTip="Ce champ est obligatoire">
                  <nz-select formControlName="availability" nzPlaceHolder="Sélectionner une disponibilité">
                    <nz-option *ngFor="let availability of availabilities" 
                               [nzValue]="availability" 
                               [nzLabel]="availability['day']['name'] + ' De ' + availability.startTime + ' A ' + availability.endTime">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzSpan="6" nzRequired>Date du RDV</nz-form-label>
                <nz-form-control nzSpan="18" nzHasFeedback nzErrorTip="Ce champ est obligatoire">
                  <nz-select formControlName="date" nzPlaceHolder="Sélectionner une date">
                    <nz-option *ngFor="let day of days" 
                               [nzValue]="day" 
                               [nzLabel]="(day | date: 'd MMMM y':'':'fr')">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzSpan="6" nzRequired>Prix</nz-form-label>
                <nz-form-control nzSpan="18" nzHasFeedback nzErrorTip="Ce champ est obligatoire">
                  <input nz-input formControlName="price" [value]="priceBySpeciality" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
  
            <div nz-col nzXs="24" nzSm="12" nzMd="12">
              <nz-form-item>
                <nz-form-label nzSpan="6" nzRequired>Nom</nz-form-label>
                <nz-form-control nzSpan="18" nzHasFeedback nzErrorTip="Ce champ est obligatoire">
                  <input nz-input formControlName="patientLastName" placeholder="Doe"/>
                </nz-form-control>
              </nz-form-item>
                
              <nz-form-item>
                <nz-form-label nzSpan="6" nzRequired>Prénom</nz-form-label>
                <nz-form-control nzSpan="18" nzHasFeedback nzErrorTip="Ce champ est obligatoire">
                  <input nz-input formControlName="patientFirstName" placeholder="John"/>
                </nz-form-control>
              </nz-form-item>
                
              <nz-form-item>
                <nz-form-label nzSpan="6">Email</nz-form-label>
                <nz-form-control nzSpan="18">
                  <input nz-input formControlName="patientEmail" placeholder="john@gmail.com"/>
                </nz-form-control>
              </nz-form-item>
                
              <nz-form-item>
                <nz-form-label nzSpan="6" nzRequired>Téléphone</nz-form-label>
                <nz-form-control nzSpan="18" nzHasFeedback nzErrorTip="Ce champ est obligatoire">
                  <input nz-input formControlName="patientPhone" placeholder="97000000"/>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
  
          <div nz-row nzJustify="center" class="submit-container">
            <div >
              <button 
                nz-button 
                nzType="primary" 
                type="submit" 
                [disabled]="Hospitalform.invalid">
                Prendre RDV
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="text-center">
        <h3 nz-typography>
          Vous connaissez votre médecin ? 
          <a routerLink="/je_connais_mon_medecin" nz-button nzType="primary" style="margin-top: 10px;">
            Je connais mon médecin
          </a>
        </h3>
      </div>
    </nz-card>
  </div>
</div>
