<nz-layout class="app-layout">
    <nz-affix>
        <nz-header class="header-blue">
            <div class="header-left">
                <div class="logo">
                    <img 
                        nz-image 
                        width="50px" 
                        height="50px" 
                        nzSrc="/assets/images/logo_SNIH.png" 
                        alt="" 
                    />
                </div>
                <button nz-button nzType="primary" (click)="toggleCollapsed()">
                    <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
                </button>
            </div>

            <div class="header-right">
                @if(selectedLanguage == "en"){
                    <img
                        nz-image
                        width="20px"
                        height="10px"
                        nzSrc="/assets/images/united-states-flag.svg"
                        alt=""
                    />
                } @else if (selectedLanguage == "fr") {
                    <img
                        nz-image
                        width="20px"
                        height="10px"
                        nzSrc="/assets/images/france.svg"
                        alt=""
                    />
                }@else{
                    <img
                        nz-image
                        width="30px"
                        height="50px"
                        nzSrc="/assets/images/Spain-flag.svg"
                        alt=""
                    />
                }
                <nz-select [(ngModel)]="selectedLanguage" class="language-select ">
                    <nz-option nzValue="en" nzLabel="English"></nz-option>
                    <nz-option nzValue="fr" nzLabel="Français"></nz-option>
                    <nz-option nzValue="es" nzLabel="Español"></nz-option>
                </nz-select>

                <span class="username">
                    {{authService.username}}
                </span>

                <button nz-button nzType="primary"
                    nz-dropdown 
                    [nzDropdownMenu]="menu"
                    [nzPlacement]="'bottomCenter'">

                    <span class="profileIcon" nz-icon nzType="user"></span>
                </button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu nzSelectable>
                        <li nz-menu-item >
                            <span nz-icon nzType="user"></span>
                            Profil
                        </li>
                        <li nz-menu-item (click)="logout()">
                            <span nz-icon nzType="logout"></span>
                            Déconnexion
                        </li>
                    </ul>
                </nz-dropdown-menu>
                <!-- <span class="logout"><button (click)="logout()" nz-button >Déconnection</button></span> -->
            </div>
        </nz-header>
    </nz-affix>
    <nz-layout >
        <nz-sider nzTheme="light" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzWidth]="200" [nzCollapsedWidth]="80" [nzBreakpoint]="'md'">
            <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
                <li 
                *ngFor="let module of authService.userModules"
                nz-submenu 
                [nzOpen]="activeMenu === module.name" 
                (nzOpenChange)="toggleMenu(module.name)" 
                [nzTitle]="module.name" 
                [nzIcon]="module.icon">

                    <ul *ngIf="module.components">
                        <li *ngFor="let component of module.components" [nzMatchRouter]="true" nz-menu-item routerLink="{{module.route}}/{{component.route}}">{{component.name}}</li>
                    </ul>
                
                    <ul *ngIf="module.subModules && module.subModules.length > 0">
                        <li *ngFor="let subModule of module.subModules" nz-menu-item >
                            {{ subModule.name }}
                            <ul *ngIf="subModule.components">
                                <li *ngFor="let component of subModule.components" [nzMatchRouter]="true" nz-menu-item routerLink="{{subModule.route}}/{{component.route}}">{{component.name}}</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nz-sider>
        <nz-layout [ngClass]="{'collapsed': isCollapsed}">
            <nz-content>
                <div class="content-heade">
                    <nz-breadcrumb class="breadcrumb" [nzAutoGenerate]="true"></nz-breadcrumb>

                    <span class="title">{{title.split('|')[0].trim()}}</span>
                    <span *ngIf="title" class="barre"> | </span>
                    <span>{{title.split('|')[1]}}</span>
                </div>
                <nz-card class="content-body">

                    <router-outlet></router-outlet>
                    
                </nz-card>
            </nz-content>
        </nz-layout>
    </nz-layout>
</nz-layout>