<!-- <div class="search-box">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input type="text" nz-input placeholder="Search..." />
    </nz-input-group>
    <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch><span nz-icon nzType="search"></span></button>
    </ng-template>
</div> -->

<form *ngIf="canViewList" [formGroup]="filterForm">
    <nz-form-item>
        <nz-form-label>Options de filtre</nz-form-label>
        <nz-form-control >
            <nz-select formControlName="filterInput" (nzOpenChange)="filterSpecialities()" nzPlaceHolder="Choisir une option de filtre">
                <nz-option [nzLabel]="'Voir toutes les spécialités'" [nzValue]="false"></nz-option>
                <nz-option [nzLabel]="'Voir les spécialités de mon hôpital'" [nzValue]="true"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
</form>

<div class="table-operations">
    <button *ngIf="canCreateSpeciality" (click)="showModal()" nz-button nzType="primary"><i nz-icon nzType="plus"></i>Créer une specialité</button>
    <button *ngIf="canViewList" nz-button (click)="exportToFile()"><i nz-icon nzType="export"></i>Exporter en Excel</button>
</div>
<div *ngIf="canViewList" class="selected-items">
    {{ setOfCheckedId.size }} éléments selectionnés
    <a (click)="refreshCheckedStatus()">Refraîchir</a>
</div>
<nz-table *ngIf="canViewList"
    #basicTable 
    nzShowSizeChanger
    [nzData]="listOfData"
    (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
>
    <thead>
        <tr>
            <th [nzChecked]="checked" 
                [nzIndeterminate]="indeterminate" 
                (nzCheckedChange)="onAllChecked($event)"
            ></th>
            <th>#ID</th>
            <th>Nom</th>
            <th *ngIf="canEditSpeciality || canDeleteSpeciality">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
            <td>{{ data.id }}</td>
            <td>{{ data.name }}</td>
            <td>
                <a *ngIf="canEditSpeciality" (click)="editSpeciality(data)">Editer</a>
                <nz-divider *ngIf="canEditSpeciality" nzType="vertical"></nz-divider>
                <a *ngIf="canDeleteSpeciality" (click)="deleteSpeciality(data.id)">Spprimer</a>
            </td>
        </tr>
    </tbody>
</nz-table>


<nz-modal nzFooter=" " [(nzVisible)]="isVisible" nzTitle="Ajout de spécialité" (nzOnCancel)="handleCancel()">
    <ng-container *nzModalContent>
        <button nz-button *ngIf="canAddSpecialityToAnotherHospital || canAddSpecialityToOwnHospital" nzType="primary" (click)="addSpecialityToHospital()" >{{buttonText }}</button>
        <br><br>

        <form *ngIf="!isToAddSpecialityToHospital" [formGroup]="specialityForm" (ngSubmit)="onSubmit()">
            <nz-form-item>
                <nz-form-label nzSpan="6" nzRequired>Nom</nz-form-label>
                <nz-form-control nzSpan="18" nzHasFeedback nzErrorTip="Ce champ est obligatoire">
                    <input nz-input formControlName="name" placeholder="Nom de la spécialité">
                </nz-form-control>
            </nz-form-item>
    
            <nz-form-item>
                <nz-form-control nzOffset="7" nzSpan="12">
                    <button nz-button nzType="primary" [disabled]="specialityForm.invalid">Soumettre</button>
                    <button nz-button (click)="resetForm($event)">Réinitialiser</button>
                </nz-form-control>
            </nz-form-item>
        </form>

        

        <form *ngIf="isToAddSpecialityToHospital" [formGroup]="addSpecialityform" (ngSubmit)="addSpeciality()">
            <nz-form-item *ngIf="canAddSpecialityToAnotherHospital">
              <nz-form-label nzSpan="6" nzRequired>Hôpital</nz-form-label>
              <nz-form-control nzSpan="18">
                <nz-select formControlName="hospital" nzPlaceHolder="Sélectionner l'hôpital">
                  <nz-option *ngFor="let hosp of hospitals" [nzLabel]="hosp.name" [nzValue]="hosp.id"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          
            <nz-form-item>
              <nz-form-label nzSpan="6" nzRequired>Spécialité</nz-form-label>
              <nz-form-control nzSpan="18">
                <nz-select formControlName="speciality" nzPlaceHolder="Sélectionner la spécialité">
                  <nz-option *ngFor="let sp of listOfData" [nzLabel]="sp.name" [nzValue]="sp.id"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          
            <nz-form-item>
              <nz-form-label nzSpan="18" nzRequired>Coût des consultations pour les jours non fériés</nz-form-label>
              <nz-form-control nzSpan="6" nzHasFeedback nzErrorTip="Ce champ est obligatoire">
                <input nz-input formControlName="price" placeholder="Coût">
              </nz-form-control>
            </nz-form-item>
          
            <nz-form-item>
              <nz-form-label nzSpan="24" nzRequired>
                Le prix de consultation est-il différent pour les jours fériés ?
              </nz-form-label>
             <nz-radio-group formControlName="radioValue" nz-col nzSpan="6" nzOffset="3">
                <label nz-radio nzValue="oui">Oui</label>
                <label nz-radio nzValue="non">Non</label>
            </nz-radio-group>
            <div class="input-holiday" nz-col nzSpan="18" *ngIf="addSpecialityform.get('radioValue')?.value === 'oui'">
                <input nz-input formControlName="priceHoliday" placeholder="Coût de la consultation pour les jours férié">
            </div>
              
            </nz-form-item>
          
            <nz-form-item>
              <nz-form-control nzOffset="7" nzSpan="12">
                <button nz-button nzType="primary" [disabled]="addSpecialityform.invalid">Soumettre</button>
                <button nz-button (click)="resetForm($event)">Réinitialiser</button>
              </nz-form-control>
            </nz-form-item>
          </form>
          
    </ng-container>
</nz-modal>