<div *ngFor="let availability of availabilities" class="container-fluid mt-3 p-5 bg-light">
    <div class="row">
      <div class="col-6 h3">Liste des RDV pour le {{ availability.appointments[0]?.date | date:'fullDate':'':'fr' }}</div>
    </div>
  
    <br>
    <nz-table #basicTable [nzData]="availability.appointments" [nzBordered]="true">
      <thead>
        <tr>
          <th>#</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Date</th>
          <th>Statut</th>
          <th *ngIf="rightConfirm || rightPostpone || rightCancel">
            <span class="offset-md-3">Actions</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of availability.appointments; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ appointment.patientLastName }}</td>
          <td>{{ appointment.patientFirstName }}</td>
          <td>{{ appointment.patientEmail }}</td>
          <td>{{ appointment.date | date:'d MMMM y':'':'fr'}}</td>
          <td>
            <ng-container *ngIf="appointment.status === 'ASKED'">En attente</ng-container>
            <ng-container *ngIf="appointment.status === 'POSTPONE'">Reporté</ng-container>
            <ng-container *ngIf="appointment.status === 'CONFIRMED'">Confirmé</ng-container>
            <ng-container *ngIf="appointment.status === 'CANCEL'">Annulé</ng-container>
          </td>
          <td>
            <button *ngIf="rightConfirm && (appointment.status === 'ASKED' || appointment.status === 'POSTPONE')" nz-button nzType="primary" nzSize="small" (click)="showConfirmationDialog(appointment)">Confirmer</button>
            <button *ngIf="rightPostpone && (appointment.status === 'ASKED' || appointment.status === 'POSTPONE')" nz-button nzType="default" nzSize="small" class="reporter" (click)="showpostponeDialog(appointment)">Reporter</button>
            <button *ngIf="rightCancel && (appointment.status === 'ASKED' || appointment.status === 'POSTPONE')" nz-button nzType="default" nzSize="small" class="annuler" (click)="showdeleteDialog(appointment)">Annuler</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  