<main>

    <header>
        <nav class="nav container">
            <h2 class="nav_logo">
                <a routerLink="/">
                    <!-- <img src="images/in-web.jpg" alt="Logo" width="220px"> -->
                    SNIH
                    <small>Système National d'Information Hospitalière</small>
                </a>
            </h2>
        </nav>
    </header>


    <section class="hero">
        <div class="row container">
            <div class="col-5">
                <h2>Bienvenue sur la plateforme nationnale d'Information Hospitalière.</h2>
                <p>
                    
                </p> <br>
                <div class="buttons">
                 
                        <div class="sm:fixed sm:top-0 sm:right-0 p-6 text-right z-10">
                            <a class="btn rounded-pill nav-link dropdown-toggle text-dark" id="aboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Se connecter en tant que:</a>
                            <ul class="dropdown-menu p-3" aria-labelledby="aboutDropdown">
                                <li><a class="dropdown-item text-dark p-2" routerLink="/login">Personnel</a></li>
                                <li><a class="dropdown-item text-dark p-2"routerLink="/connexion-patient">Patient</a></li>
                            </ul>
                        </div> 
                   
                  
                    <div class="sm:fixed sm:top-0 sm:right-0 p-6 text-right z-10">
                        <a routerLink="/rdv" class="btn btn-primary rounded-pill">Prendre RDV</a>

                    </div>
                </div>
            </div>
            <!-- <div class="col-6">
                <img src="/assets/images/medical-signe.jpg" alt="heroImg" class="hero_img" />
            </div> -->
        </div>
        <!-- <img src="/assets/images/bg-bottom-hero.png" alt="" class="curveImg"/>  -->
    </section>
</main>
