.availability-container {
    padding: 16px;
  }
  
  .button-container {
    margin-bottom: 16px;
  }
  
  .table-container {
    overflow-x: auto;
    margin-bottom: 16px;
  }
  
  .responsive-form nz-form-item {
    margin-bottom: 24px;
  }
  
  .responsive-form nz-select,
  .responsive-form input[nz-input] {
    width: 100%;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
  
  @media (max-width: 768px) {
    .button-container button {
      width: 100%;
    }
  
    .responsive-form nz-form-label {
      padding-bottom: 8px;
    }
  
    .modal-footer {
      flex-direction: column-reverse;
    }
  
    .modal-footer button {
      width: 100%;
      margin-bottom: 8px;
    }
  
    /* Pour les tableaux sur mobile */
    :host ::ng-deep .ant-table {
      font-size: 14px;
    }
  
    :host ::ng-deep .ant-table-thead > tr > th,
    :host ::ng-deep .ant-table-tbody > tr > td {
      padding: 8px 4px;
      /* white-space: nowrap; */
    }
  }

  
  