
<div class="background">
    <nz-carousel nzAutoPlay class="image-carousel">
      <div nz-carousel-content *ngFor="let image of images">
        <img [src]="image" alt="Image" class="carousel-image" />
        <div class="overlay"></div>
      </div>
    </nz-carousel>
    
    <form *ngIf="currentStep" nz-form [formGroup]="form1" class="login-form" (ngSubmit)="submitForm1()">
      <nz-card nzTitle="Connexion" class="login-card">
        <nz-form-item>
          <nz-form-control nzErrorTip="Veuillez vérifier le code">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="code" placeholder="Entrez votre code" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
    
        <nz-form-item>
          <nz-form-control nzErrorTip="Veuillez vérifier le numéro de téléphone">
            <nz-input-group nzPrefixIcon="phone">
              <input type="phone" nz-input formControlName="phone" placeholder="Entrez votre numéro de téléphone" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
    
        <button nz-button class="login-form-button" [nzType]="'primary'">Se connecter</button>
        <!-- <div class="login-form-register">
          Or <a>register now!</a>
        </div> -->
      </nz-card>
    </form>

    <form *ngIf="currentStep2" [formGroup]="form2" class="login-form" (ngSubmit)="submitForm2()">
      <nz-card nzTitle="Connexion" class="login-card">
        <nz-form-item>
          <nz-form-control nzErrorTip="Veuillez vérifier le code OTP">
            <nz-input-group>
              <input type="text" nz-input formControlName="code2" placeholder="Entrez le code envoyé sur votre numéro de téléphone" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <button nz-button nzType="primary" class="login-form-button">Envoyer</button>
        <a nz-button nzType="primary" (click)="regenerateCode()" class="login-form-button">Renvoyer le code</a>
      </nz-card>
    </form>
</div>


<!-- Formulaire 2 -->
<!-- <div  class="col-8 offset-2 animate-slide-in">
  <nz-card nzBordered class="bodystyle">
    <nz-card-header>
      <h4 class="text-center">Entrez le code envoyé sur votre numéro de téléphone</h4>
    </nz-card-header>
    <nz-card-content>
      <form [formGroup]="form2" (ngSubmit)="submitForm2()">
        <div nz-form-item nzGutter="16">
          <nz-form-label [nzSpan]="24" for="otpCode">Code OTP</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input nz-input type="text" formControlName="code2" required />
          </nz-form-control>
        </div>
        <button nz-button nzType="primary" class="my-2">Envoyer</button>
      </form>
    </nz-card-content>
    <nz-card-footer>
      <small>Veuillez consulter votre téléphone pour entrer le code envoyé. NB : Le code a une date d'expiration</small>
    </nz-card-footer>
  </nz-card>
</div> -->
  