.login-form {
  max-width: 350px;
  margin: 5rem auto;
  z-index: 2;
  opacity: 1;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
  color: #1a0998;
  transition: color 0.3s;
}

.login-form-forgot:hover, .login-form-register a:hover{
  color: #40a9ff;
}

.login-form-button {
  width: 100%;
  margin-top: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #1a0998;
}

.login-form-register {
  text-align: center;
  margin-top: 16px;
}

.login-form-register a {
  color: #1a0998;
}

.login-card {
  padding: 24px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
}

.nz-form-control input {
  border-radius: 4px;
}

.nz-form-item input {
  transition: box-shadow 0.3s;
}

.nz-form-item input:focus {
  box-shadow: 0px 0px 3px 1px rgba(24, 144, 255, 0.4);
}






.background {
position: relative;
height: 100vh; 
overflow: hidden;

}

.image-carousel {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 0; 
}

.carousel-image {
width: 100%; 
height: 100%;
object-fit: cover; 
}

.overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
z-index: 2; 
}

  