<div class="calendar-container">
    <div class="calendar-header">
      <button nz-button nzShape="circle" (click)="previousMonth()" class="prev-month">
        <i nz-icon nzType="left"></i>
      </button>

      <span class="month-title">{{ currentMonth | date: 'MMMM y' }}</span>

      <form [formGroup]="Hospitalform" class="">
        <div nz-row class="row">
          <div nz-col nzSpan="">
            <nz-select formControlName="hospital" nzPlaceHolder="Sélectionnez un hôpital">
              <nz-option *ngFor="let hospital of hospitals" [nzValue]="hospital.id" [nzLabel]="hospital.name"></nz-option>
            </nz-select>                       
          </div>
        </div>
      </form>
  
      <button nz-button nzShape="circle" (click)="nextMonth()" class="next-month">
        <i nz-icon nzType="right"></i>
      </button>
    </div>
  
    <nz-table nzBordered class="calendar-table">
      <thead>
        <tr>
          <th>Dimanche</th>
          <th>Lundi</th>
          <th>Mardi</th>
          <th>Mercredi</th>
          <th>Jeudi</th>
          <th>Vendredi</th>
          <th>Samedi</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of weeks">
          <td *ngFor="let day of week"
              [class.other-month]="isOtherMonth(day)" 
              [class.availability]="hasAvailability(day)" 
              (click)="onAppointmentClick(day)">
            <span>{{ day ? day.getDate() : '' }}</span>
            <br>
            <span *ngIf="hasAvailability(day) && getAppointmentCount(day).follow > 0" 
                  class="appointments-count follow" 
                  style="color: rgb(133, 7, 7);">
              {{ getAppointmentCount(day).follow }} RDV pour suivi
            </span>
  
            <span *ngIf="hasAvailability(day) && getAppointmentCount(day).notFollow > 0" 
                  class="appointments-count not-follow" 
                  style="color: rgb(17, 27, 0); font-weight: bold;">
              {{ getAppointmentCount(day).notFollow }} RDV
            </span>
            <br>
  
            <span *ngIf="hasAvailability(day) && getAvailabilityTime(day) as time">
              {{ time }}
            </span>
            
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  