<div >
    <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="8">
            <nz-card>
                <p class="element" >Nombre d'utilisateurs</p>
                <span class="value" >{{ users}}</span>
                <nz-divider></nz-divider>
                <button routerLink="/Administration/users" nz-button nzType="primary" class="button"> Consulter</button>
            </nz-card>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-card>
                <p class="element" >nombre d'hôpital</p>
                <span class="value" >{{ hospitals}}</span>
                <nz-divider></nz-divider>
                <button routerLink="/Administration/hospitals" nz-button nzType="primary" class="button"> Consulter</button>
            </nz-card>
        </div>
    </div>
</div>
