<div class="table-operations">
    <button *ngIf="canManageUserPermission" (click)="showModal('user')" nz-button nzType="primary">Gérer permission utilisateur</button>
    <button *ngIf="canManageRolePermission" (click)="showModal('role')" nz-button nzType="primary">Gérer permission de rôle</button>
    <button *ngIf="canViewList" nz-button><i nz-icon nzType="export"></i>Exporter en Excel</button>
</div>
<div *ngIf="canViewList" class="selected-items">
    {{ setOfCheckedId.size }} éléments sélectionnés
    <a (click)="refreshCheckedStatus()">Rafraîchir</a>
</div>
<nz-table *ngIf="canViewList"
    #basicTable 
    [nzData]="listOfData"
    (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
>
    <thead>
        <tr>
            <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
            <th>#ID</th>
            <th>Nom de code</th>
            <th>Nom</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
            <td>{{ data.id }}</td>
            <td>{{data.codeName}}</td>
            <td>{{ data.name }}</td>
            <td>{{data.description}}</td>
        </tr>
    </tbody>
</nz-table>


<nz-modal nzFooter=" " [nzWidth]="'70%'" [(nzVisible)]="isVisible" nzTitle="Gérer permission de rôle" (nzOnCancel)="handleCancel()">
    <ng-container *nzModalContent>
        @if (isRoleForm) {
            <form [formGroup]="rolePermissionForm" (ngSubmit)="onSubmit()">
                <nz-form-item>
                    <nz-form-label nzSpan="6" nzRequired>Action</nz-form-label>
                    <nz-form-control nzSpan="12" nzErrorTip="Ce champ est obligatoire">
                        <nz-select formControlName="actionType" (nzOpenChange)="chooseActionType()" nzPlaceHolder="Action à mener sur le rôle">
                            <nz-option [nzLabel]="'Ajouter permissions'" [nzValue]="'add'"></nz-option>
                            <nz-option [nzLabel]="'Retirer permissions'" [nzValue]="'remove'"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
    
                <nz-form-item>
                    <nz-form-label nzSpan="6" nzRequired>Rôle</nz-form-label>
                    <nz-form-control nzSpan="12" nzErrorTip="Ce champ est obligatoire">
                        <nz-select formControlName="role" (nzOpenChange)="getRolePermissions()" nzPlaceHolder="Sélectionner un rôle">
                            @for (role of roles; track role) {
                                <nz-option [nzLabel]="role.name" [nzValue]="role"></nz-option>
                            }
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>


                <nz-form-item>
                    <nz-form-label nzSpan="6">Permissions</nz-form-label>
                    <nz-form-control nzSpan="17">
                        <nz-transfer
                        [nzDataSource]="list"
                        nzShowSearch
                        [nzFilterOption]="filterOption"
                        (nzSearchChange)="search($event)"
                        (nzChange)="change($event)"
                        ></nz-transfer>
                    </nz-form-control>
                </nz-form-item>

        
                <nz-form-item>
                    <nz-form-control nzOffset="7" nzSpan="12">
                        <button class="submitButton" nz-button nzType="primary" [disabled]="rolePermissionForm.invalid">Soumettre</button>
                        <button nz-button (click)="resetForm($event, rolePermissionForm)">Réinitialiser</button>
                    </nz-form-control>
                </nz-form-item>
            </form>
        }@else {
            <form [formGroup]="userPermissionForm" (ngSubmit)="onSubmit()">
                <nz-form-item>
                    <nz-form-label nzSpan="6" nzRequired>Action</nz-form-label>
                    <nz-form-control nzSpan="12" nzErrorTip="Ce champ est obligatoire">
                        <nz-select formControlName="actionType" (nzOpenChange)="chooseActionType()" nzPlaceHolder="Action à mener sur le rôle">
                            <nz-option [nzLabel]="'Ajouter permissions'" [nzValue]="'add'"></nz-option>
                            <nz-option [nzLabel]="'Retirer permissions'" [nzValue]="'remove'"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
    
                <nz-form-item>
                    <nz-form-label nzSpan="6" nzRequired>Utilisateur</nz-form-label>
                    <nz-form-control nzSpan="12" nzErrorTip="Ce champ est obligatoire">
                        <nz-select formControlName="user" (nzOpenChange)="getUserPermissions()" nzPlaceHolder="Sélectionner un rôle">
                            @for (user of users; track user) {
                                <nz-option [nzLabel]="user.firstName+' '+user.lastName" [nzValue]="user"></nz-option>
                            }
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label nzSpan="6">Permissions</nz-form-label>
                    <nz-form-control nzSpan="17">
                        <nz-transfer
                            [nzDataSource]="list"
                            nzShowSearch
                            [nzFilterOption]="filterOption"
                            (nzSearchChange)="search($event)"
                            (nzChange)="change($event)"
                        ></nz-transfer>
                    </nz-form-control>
                </nz-form-item>
        
                <nz-form-item>
                    <nz-form-control nzOffset="7" nzSpan="12">
                        <button class="submitButton" nz-button nzType="primary" [disabled]="userPermissionForm.invalid">Soumettre</button>
                        <button nz-button (click)="resetForm($event, userPermissionForm)">Réinitialiser</button>
                    </nz-form-control>
                </nz-form-item>
            </form>
        }
    </ng-container>
</nz-modal>