<div *ngIf="canViewList" class="search-box">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input type="text" nz-input placeholder="Recherche..." [(ngModel)]="searchValue" (ngModelChange)="onSearch()" />
    </nz-input-group>
    <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch><span nz-icon nzType="search"></span></button>
    </ng-template>
</div>

<div class="table-operations">
    <button *ngIf="canManageUserPermission" (click)="showModal('user')" nz-button nzType="primary">Gérer permission utilisateur</button>
    <button *ngIf="canManageRolePermission" (click)="showModal('role')" nz-button nzType="primary">Gérer permission de rôle</button>
    <button *ngIf="canViewList" nz-button (click)="exportFile()"><i nz-icon nzType="export"></i>Exporter en Excel</button>
</div>
<div *ngIf="canViewList" class="selected-items">
    {{ setOfCheckedId.size }} éléments sélectionnés
    <a (click)="refreshCheckedStatus()">Rafraîchir</a>
</div>
<nz-table *ngIf="canViewList"
    #basicTable 
    nzShowSizeChanger
    [nzData]="filteredData"
    [nzScroll]="{x: '800px'}"
    (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
>
    <thead>
        <tr>
            <th nzWidth="40px" [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
            <th nzWidth="60px">#ID</th>
            <th nzWidth="22%">Nom de code</th>
            <th nzWidth="20%">Nom</th>
            <th nzWidth="40%">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
            <td>{{ data.id }}</td>
            <td>{{data.codeName}}</td>
            <td>{{ data.name }}</td>
            <td>{{data.description}}</td>
        </tr>
    </tbody>
</nz-table>


<nz-modal
    nzFooter=" "
    [nzWidth]="window.innerWidth>1024 ? '70%' : window.innerWidth > 768 && window.innerWidth < 1024 ? '90%' : '90%'"
    [(nzVisible)]="isVisible"
    [nzTitle]="isRoleForm ? 'Gérer les permissions de rôle' : 'Gérer les permissions d\'utilisateur'"
    (nzOnCancel)="handleCancel()"
>
    <ng-container *nzModalContent>
        <form
            [formGroup]="isRoleForm ? rolePermissionForm : userPermissionForm"
        >
            <nz-form-item>
                <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>
                    {{ isRoleForm ? 'Rôle' : 'Utilisateur' }}
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Ce champ est obligatoire">
                    <nz-select
                        formControlName="{{ isRoleForm ? 'role' : 'user' }}"
                        (nzOpenChange)="loadPermissions()"
                        [nzPlaceHolder]="isRoleForm ? 'Sélectionner un rôle' : 'Sélectionner un utilisateur'"
                    >
                        @if (isRoleForm) {
                        <ng-container *ngFor="let item of roles">
                            <nz-option
                                [nzLabel]="item.name"
                                [nzValue]="item"
                            ></nz-option>
                        </ng-container>
                        } @else {
                        <ng-container *ngFor="let item of users">
                            <nz-option
                                [nzLabel]="item.firstName + ' ' + item.lastName"
                                [nzValue]="item"
                            ></nz-option>
                        </ng-container>
                        }
                    </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="7" [nzXs]="24">Permissions</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-transfer
                        [nzDataSource]="list"
                        nzShowSearch
                        [nzOperations]="['Ajouter', 'Retirer']"
                        [nzTitles]="['disponibles', 'existants']"
                        [nzListStyle]="{ 'width.px': 250, 'height.px': 250, 'font-size.em': 1.5 }"
                        (nzChange)="change($event)"
                    ></nz-transfer>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
</nz-modal>